<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Did Elspeth make it to work on time?</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Did Elspeth make it to work on time?">
    <meta name="description" content="Find out how Elspeth is doing in her quest to make it to work by 8:30 each day.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://didelspethmakeit.com/">
    <meta property="og:title" content="Did Elspeth make it to work on time?">
    <meta property="og:description" content="Find out how Elspeth is doing in her quest to make it to work by 8:30 each day.">
    <meta property="og:image" content="https://didelspethmakeit.com/screenshot.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://didelspethmakeit.com/">
    <meta property="twitter:title" content="Did Elspeth make it to work on time?">
    <meta property="twitter:description" content="Find out how Elspeth is doing in her quest to make it to work by 8:30 each day.">
    <meta property="twitter:image" content="https://didelspethmakeit.com/screenshot.png">

    <!-- Favicon Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {{ content }}
  </body>
</html>
