* { margin: 0; padding: 0; box-sizing: border-box; }

html { height: 100%; }

:root {
  --background: linear-gradient(#fafafa, #dddddd);
  --title-color: #111111;
  --progress-foreground: white; /* these two are */
  --progress-background: black; /* overridden by inline styles for each tier */
  --success-foreground: #c98f00;
  --success-background: linear-gradient(131deg, #E3A900, #fcc200, #E3A900);
  --failure-foreground: white;
  --failure-background: #333333;
  --sick-foreground: #c47335;
  --sick-background: #f7c8a1;
  --unknown-foreground: #7400b8;
  --unknown-background: #bdb2ff;
  --wfh-foreground: #81b29a;
  --wfh-background: hsl(150, 24%, 84%);
  --text-color: #36454f;
  --body-font: "Inter", "Open Sans", sans-serif;
  --title-font: inherit;
  --scale: clamp(400px, 100vw, 1000px);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 5vmin 0;
  overscroll-behavior: none;
  background: var(--background);
  background-attachment: fixed;
  font-family: var(--body-font);
}

footer {
  flex-shrink: 0;
  width: calc(0.83 * var(--scale));
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  margin-top: calc(0.04 * var(--scale));
  font-size: calc(0.015 * var(--scale));
  text-align: center;
}

h1 {
  margin-bottom: calc(0.02 * var(--scale));
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: calc(0.045 * var(--scale));
  text-align: center;
  font-weight: 700;
}

h2 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: calc(0.03 * var(--scale));
  font-weight: 400;
}

a {
  padding: calc(0.005 * var(--scale));
  color: white;
  background: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  color: var(--progress-foreground);
  background: var(--progress-background);
}

.content {
  flex: 1 0 auto;
  width: calc(0.83 * var(--scale));
  margin: 0 auto;
}

.split {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(0.02 * var(--scale));
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, calc(0.15 * var(--scale)));
  grid-auto-rows: calc(0.15 * var(--scale));
  grid-auto-flow: dense;
  grid-gap: calc(0.02 * var(--scale));
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: calc(0.007 * var(--scale));
  box-shadow: 0 calc(0.005 * var(--scale)) calc(0.01 * var(--scale)) rgba(0,0,0,0.2);

  color: var(--text-color);
  font-size: calc(0.018 * var(--scale));
  font-weight: bold;

  animation: 0.15s ease-out var(--appear-delay) normal both appear;
  transform: scale(1);
}

.day:hover > img {
  transform: scale(1.05);
}

.day--ghost {
  background-color: transparent;
  box-shadow: none;
}

.day--yes {
  color: var(--success-foreground);
  background: var(--success-background);
}

.day--no {
  color: var(--failure-foreground);
  background: var(--failure-background);
}

.day--wfh {
  background: var(--wfh-background);
  color: var(--wfh-foreground);
}

.day--sick {
  background: var(--sick-background);
  color: var(--sick-foreground);
}

.day--monday { grid-column: 1; }
.day--tuesday { grid-column: 2; }
.day--wednesday { grid-column: 3; }
.day--thursday { grid-column: 4; }
.day--friday { grid-column: 5; }

.day--unknown {
  background: var(--unknown-background);
  color: var(--unknown-foreground);
}

.day--unknown > .day__icon {
  animation: shake 0.8s ease-in-out 0s infinite;
}

.day__icon {
  width: 50%;
  height: 50%;
}

.progress {
  position: relative;
  width: 100%;
  height: calc(0.03 * var(--scale));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(0.04 * var(--scale)) 0;
  padding: calc(0.005 * var(--scale)) 0;
  border-radius: calc(0.01 * var(--scale));
  box-shadow: 0 0 calc(0.01 * var(--scale)) rgba(0,0,0,0.2);
  overflow: hidden;
  font-size: calc(0.015 * var(--scale));
  color: var(--progress-foreground);
}

.progress__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--progress-background);
  z-index: -1;
}

.heart {
  display: inline-block;
  color: crimson;
  animation: heartbeat 3s ease-in-out 0s infinite;
}

@keyframes appear {
  0% {
    transform: translateY(15vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  5% { transform: scale(1.2); }
  10% { transform: scale(1); }
  15% { transform: scale(1.2); }
  20% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
