* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { height: 100%; }

:root {
  --background-color: whitesmoke;
  --title-color: #111111;
  --success-foreground: #daa520;
  --success-background: #fcc200;
  --failure-foreground: white;
  --failure-background: #333333;
  --upcoming-color: whitesmoke;
  --text-color: #36454f;
  --title-font: "Libre Baskerville", serif;
  --body-font: "Open Sans", sans-serif;
  --scale: clamp(400px, 100vw, 1000px);
}

body {
  display: flex;
  flex-direction: column;
  padding: 5vmin 0;
  overscroll-behavior: none;
  background-color: var(--background-color);
  font-family: var(--body-font);
}

footer {
  flex-shrink: 0;
  margin-top: calc(0.04 * var(--scale));
  font-size: calc(0.015 * var(--scale));
  text-align: center;
}

h1 {
  margin-bottom: calc(0.03 * var(--scale));
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: calc(0.04 * var(--scale));
  text-align: center;
  font-weight: 700;
}

h2 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: calc(0.03 * var(--scale));
  font-weight: 400;
}

a {
  padding: calc(0.005 * var(--scale));
  color: white;
  background-color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 200%;
}

.content {
  flex: 1 0 auto;
  width: calc(0.83 * var(--scale));
  margin: 0 auto;
}

.split {
  display: flex;
  justify-content: space-around;
  margin-bottom: calc(0.05 * var(--scale));
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, calc(0.15 * var(--scale)));
  grid-auto-rows: calc(0.15 * var(--scale));
  grid-gap: calc(0.02 * var(--scale));
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: calc(0.006 * var(--scale)) solid currentColor;
  border-radius: calc(0.004 * var(--scale));
  color: var(--text-color);
  font-size: calc(0.02 * var(--scale));
  font-weight: bold;

  animation: 0.1s ease-out var(--appear-delay) normal both appear;
}

.day--ghost {
  background-color: transparent;
  border: none;
}

.day--yes {
  color: var(--success-foreground);
  background-color: var(--success-background);
}

.day--no {
  color: var(--failure-foreground);
  border-color: var(--failure-background);
  background-color: var(--failure-background);
}

.day--upcoming {
  background-color: var(--upcoming-color);
  color: #dcdcdc;
}

.day__icon {
  width: 50%;
  height: 50%;
}

.heart {
  display: inline-block;
  color: crimson;
  animation: heartbeat 3s ease-in-out 0s infinite ;
}

@keyframes appear {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  5% { transform: scale(1.2); }
  10% { transform: scale(1); }
  15% { transform: scale(1.2); }
  20% { transform: scale(1); }
  100% { transform: scale(1); }
}
