---
layout: layout.liquid
---
<h1>Did Elspeth make it to work on time?</h1>

<div class="split">
  <h2>Current streak: {{ sheet | currentStreak }}</h2>
  <h2>Best streak: {{ sheet | bestStreak }}</h2>
</div>

<div class="calendar">
  {% for record in sheet %}
    <div class="day day--{{ record.state }}">
      {% if record.state != 'ghost' %}
        {{ record.date | cuteDate }}
      {% endif %}
    </div>
  {% endfor %}
</div>
-
